<h1>Pets</h1>

<table class="table">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Pet Name</th>
    <th scope="col">Kind</th>
    <th scope="col">User</th>
  </tr>
  <% @pets.each do |pet| %>
    <tr>
      <td><%= pet.id %></td>
      <td><%= pet.pet_name %></td>
        <td><%= pet.kind %></td>
       <% if pet.user%>
          <td><%= link_to pet.user.first_name, user_path(pet.user)%></td>
        <% else%>
          <td>"No owner"</td>
        <% end%>
        <td><%= link_to "Edit", edit_pet_path(pet), :class => "btn btn-primary"%></td>
      <td><%= link_to "Delete", pet , class: "btn btn-danger", :method => 'delete', data: {confirm: "Are you sure?"}%></td>
      <tr>
  <%end%>
 </table>
 <%= link_to "New", new_pet_path, class: 'btn btn-success' %>
