<p id="notice"><%= notice %></p>

<p>
  <strong>Pet name:</strong>
  <%= @pet.pet_name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @pet.kind %>
</p>

<p>
  <strong>Owner:</strong>
  	<%if @pet.user%>
    	<%= link_to @pet.user.first_name, user_path(@pet.user)%>
  	<%end%>
</p>
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
