<h1>Users</h1>

<table class="table">
	<tr>
		<th scope="col">Id</th>
		<th scope="col">First Name</th>
		<th scope="col">Last Name</th>
		<th scope="col">Birthday</th>
		<th scope="col">Shoe Size</th>
		<th scope="col">Number of Sibilings</th>
		<th scope="col">US Citizen</th>
		<th scope="col">Car</th>
		<th scope="col">Pets</th>
		<th scope="col"></th>
		<th scope="col"></th>
		
	
		
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
 			<td><%= user.first_name %></td>
  			<td><%= user.last_name %></td>
  			<td><%= user.birth&.strftime("%m/%d/%Y") %></td>
  			<td><%= user.shoe_size %></td>
  			<td><%= user.num_siblings %></td>
  			<td><%= user.print_yes_or_no(user.us_citizen) %></td>
  			<% if user.car%>
  				<td><%= link_to user.car_display, car_path(user.car)%></td>
  			<% else%>
  				<td>"<%= user.first_name%>  doesn't own a car"</td>
  			<% end%>
  			<td>
  				<%if user.pets.any?%>
      				<%user.pets.each do |pet|%>
        				<%=link_to pet.pet_name, pet_path(pet)%><br>
        			<%end%>
	    		<%	else%>
	     			"<%= user.first_name%>  doesn't own a pet"
	    		<%end%>
    		</td>
  			<td><%= link_to "Edit", edit_user_path(user), :class => "btn btn-primary"%></td>
			<td><%= link_to "Delete", user , class: "btn btn-danger", :method => 'delete', data: {confirm: "Are you sure?"}%></td>
  		<tr>
 	<%end%>
 </table>
 <%= link_to "New", new_user_path, class: 'btn btn-success' %>
