<%=	form_for @user do |user| -%>
	Firstname: <%= user.text_field :firstName %><br />
	Lastname: <%= user.text_field :lastName %><br />
	<%= user.submit %>
	<% end %>
	 <%= link_to "back", action: "index" %>
 <form method="post" action="/users/index" class="button_to">

   </form>