<table class="table">
	  		<tr scope="col">
	  		<td>Id</td>
	  		<td><%=@user.id%></td>
	  		</tr>	
	  			
	  		<td>First Name</td>
	  		<td><%=@user.first_name%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Last Name</td>
	  		<td><%=@user.last_name%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Birthday</td>
	  		<td><%=@user.birth&.strftime("%m/%d/%Y")%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Shoe Size</td>
	  		<td><%=@user.shoe_size%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Number of Siblings</td>
	  		<td><%=@user.num_siblings%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>US Citizen</td>
	  		<td><%=@user.us_citizen%></td>
	  		</tr>


	  		<tr scope="col">
	  			<td>Pets</td>
	  			<td>	
	  				<%if @user.pets.any?%>
      					<%@user.pets.each do |pet|%>
        					<%=link_to pet.pet_name, pet_path(pet)%><br>
        				<%end%>
	    			<%else%>
	     				"<%= @user.first_name%>  doesn't own a pet"
	    			<%end%>
	    		<td>
	    	</tr>
 </table>
 