<h1>Cars</h1>
<ul class="nav">
	<li> <%= link_to "Cars", cars_path%><li>
	<li> <li> <%= link_to "Users", users_path%><li><li>	
</ul>

<table style = "border: 1px solid black">

	<tr>
		<th>Brand</th>
		<th>Model</th>
	</tr>
	<% @cars.each do |car| %>
		<tr>
 			<td style = "border: 1px solid black"><%= car.brand %></td>
  			<td style = "border: 1px solid black"><%= car.model %></td>
  			<td style = "border: 1px solid black"><%= car.wheels %></td>
  			<td style = "border: 1px solid black"><%= link_to car&.user&.first_name, user_path(car.user) if car.user %></td>
  			<td><%= link_to "Edit", edit_car_path(car), :class => 'button edit' %></td>
			<td><%= link_to "Delete", car , :method => 'delete', :class => 'button delete' %></td>
  		<tr>
 	<%end%>
 </table>
 <%= link_to "New", new_car_path, :class => 'button new' %>
 