<h1>Cars</h1>

<table class="table">

	<tr>
		<th scope="col">Id</th>
		<th scope="col">Brand</th>
		<th scope="col">Model</th>
		<th scope="col">Number of Wheels</th>
		<th scope="col">Engine Size</th>
		<th scope="col">Date of Purchase</th>
		<th scope="col">Car electric</th>
		<th scope="col">User</th>
		<th scope="col"></th>
		<th scope="col"></th>

	</tr>
	<% @cars.each do |car| %>
		<tr>
			<td><%= car.id %></td>
 			<td><%= link_to car.brand, car_path(car)%></td>
  			<td><%= car.model %></td>
  			<td><%= car.num_wheels %></td>
  			<td><%= car.engine_size %></td>
  			<td><%= car.date_purchased&.strftime("%m/%d/%Y") %></td>
  			<td><%= car.print_yes_or_no(car.is_eletric) %></td>

  			<% if car.user%>
  				<td><%= link_to car.user_display, user_path(car.user)%></td>
  			<% else%>
  				<td>"No owner"</td>
  			<% end%>
  			


  			<td><%= link_to "Edit", edit_car_path(car), :class => ' btn btn-primary' %></td>
			<td><%= link_to "Delete", car , :method => 'delete', :class => 'btn btn-danger', data: {confirm: "Are you sure?"} %></td>
  		<tr>
 	<%end%>
 </table>
 <%= link_to("New", new_car_path, class: "btn btn-success" ) %>



