<table class="table">
	  		<tr scope="col">
	  		<td>Id</td>
	  		<td><%=@car.id%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Brand</td>
	  		<td><%=@car.brand%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Model</td>
	  		<td><%=@car.model%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Date of Purchase</td>
	  		<td><%=@car.date_purchased&.strftime("%m/%d/%Y")%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Engine Size</td>
	  		<td><%=@car.engine_size%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Number of Wheels</td>
	  		<td><%=@car.num_wheels%></td>
	  		</tr>	

	  		<tr scope="col">
	  		<td>Electric</td>
	  		<td><%=@car.is_eletric%></td>
	  		</tr>
 </table>
